body {
    background-image:url("https://lh3.google.com/u/0/d/1_Sh9vzng3oktAW9hxv-l_70X2e9BvNwR=w2880-h1376-iv1");
    background-size: cover;
    background-repeat: no-repeat;
}
/*여기까지 배경화면*/

header {
  height: 4rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
}

.fadein{
  position: relative;
  overflow: hidden;
  animation: fadein 0.5s ease-in-out;
  font-family: Grandiflora One;
  margin-left: 5rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*여기까지 상단바*/

.asdf {
  text-align: center;
  font-size: 5rem;
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}