body {
    background-color: #0f1e59;
}
.centerplease{
  display:table;
  table-layout:fixed;
  width:100%;
  height:100vh;
  text-align:center;
}
h1 {
    font-size: 2rem;
    color: white;
    display:table-cell;
    vertical-align:middle;
}
.fadein{
    position: relative;
    overflow: hidden;
    animation: fadein 0.5s ease-in-out;
    margin-left: 0rem;
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
